{% extends 'home/base.html' %}

{% block content %}
    <h1>Pagina productos</h1>
    
    
      
    {% for productos in productos %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{productos.descripcion}}</h5>
          <p class="card-text">${{productos.precio}}</p>
          <a href="#" class="btn btn-primary">Añadir a carrito</a>
        </div>
      </div>

      {% endfor%}
{% endblock content %}
    